---
layout: default
---
<div class="member">
    <section class="cover">
        <div class="container">
            <span class="cover_comment">RAINISTS</span>
        </div>
    </section>

    <section class="rainists">
        <div class="container">
            <h2 class="title">RAINISTS</h2>
            <div class="row">
                <div class="col-md-2 col-xs-12"></div>
                <div class="col-md-10 col-xs-12">
                    <h3 class="subtitle">
                        레이니스트는<br/>
                        잘 먹는 사람들이 다이어트를 시도합니다.
                    </h3>
                </div>
            </div>
            <hr class="division" />
        </div>
    </section>

    <section class="ceo">
        <div class="container">
            <h2 class="title">CEO</h2>
            <div class="row">
                <div class="col-md-2 col-xs-12"></div>
                <div class="col-md-10 col-xs-12 form-desc">
                    뱅크샐러드는 카드사에서 제공하는 혜택 정보를 단순히 나열하지 않습니다.
                    2,400여 개 카드, 13만여 개 이상의 혜택을 직접 수집/분석하여 계산 가능한 형태로 데이터화했습니다.
                </div>

                <div class="col-md-2 col-xs-12"></div>
                <div class="col-md-10 col-xs-12">
                    <ul class="member-list">
                        <li class="member-item active">
                            <div class="member-preview">
                                <img class="member-profile" src="{{ site.ceo.url }}" />
                                <span class="member-name">
                                    <span>{{ site.ceo.name }}</span>
                                    <b>{{ site.ceo.job }}</b>
                                </span>
                            </div>
                            <div class="member-desc">
                                <p class="desc">
                                    {{ site.ceo.desc }}
                                </p>
                                <p class="post_script">
                                    쓰고 있는 카드 : {{ site.ceo.card }}<br/>
                                    보유 상품 : {{ site.ceo.product }}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="team_product">
        <div class="container">
            <h2 class="title">PROUCT DEVELOPEMENT</h2>
            <div class="row">
                <div class="col-md-2 col-xs-12"></div>
                <div class="col-md-10 col-xs-12 form-desc">
                    우리는 분야를 뛰어넘어 모두 같은 문제를 해결하는 사람입니다.
                    디자이너와 소프트웨어 엔지니어 그리고 도메인 전문가가 모여 서비스를 기획하고 만들어 나갑니다.
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-xs-12"></div>
                <div class="col-md-10 col-xs-12">
                    <ul class="member-list">
                        {% for member in site.members_product %}
                            <li class="member-item">
                                <a role="button" class="member-trigger"></a>
                                <div class="member-preview">
                                    <img class="member-profile" src="{{ member.url }}" />
                                    <span class="member-name">
                                        <span>{{ member.name }}<span/>
                                        <b>{{ member.job }}</b>
                                    </span>
                                </div>
                                <div class="member-desc">
                                    <p class="desc">
                                        {{ member.desc }}
                                    </p>
                                    <p class="post_script">
                                        쓰고 있는 카드 : {{ member.card }}<br/>
                                        보유 상품 : {{ member.product }}
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="team_data">
        <div class="container">
            <h2 class="title">FINANCIAL ANALYSIS</h2>
            <div class="row">
                <div class="col-md-2 col-xs-12"></div>
                <div class="col-md-10 col-xs-12 form-desc">
                    우리는 분야를 뛰어넘어 모두 같은 문제를 해결하는 사람입니다.
                    디자이너와 소프트웨어 엔지니어 그리고 도메인 전문가가 모여 서비스를 기획하고 만들어 나갑니다.
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-xs-12"></div>
                <div class="col-md-10 col-xs-12">
                    <ul class="member-list">
                        {% for member in site.members_data %}
                            <li class="member-item">
                                <a role="button" class="member-trigger"></a>
                                <div class="member-preview">
                                    <img class="member-profile" src="{{ member.url }}" />
                                    <span class="member-name">
                                        <span>{{ member.name }}<span/>
                                        <b>{{ member.job }}</b>
                                    </span>
                                </div>
                                <div class="member-desc">
                                    <p class="desc">
                                        {{ member.desc }}
                                    </p>
                                    <p class="post_script">
                                        쓰고 있는 카드 : {{ member.card }}<br/>
                                        보유 상품 : {{ member.product }}
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $('.member-trigger').on('click', function(e) {
        var target = $($(e.target).parents(".member-item")[0]);

        if (target.hasClass("active")) {
            target.removeClass("active");
        } else {
            target.addClass("active");
        }
    });
</script>
