$module: 'banksalad';

.#{$module}__wrap {
    padding: 0 0 72px;
}

.#{$module} {
    .container {
        height: 100%;
        text-align: center;
    }

    .container__video {
        display: none;
    }

    .container__button {
        display: inline-block;
        background-repeat: no-repeat;
    }

    .container__button--play {
        position: relative;
        width: 108px;
        height: 108px;
        margin-top: 250px;
        background: url('/assets/ico_play.png');
        background-size: 108px 108px;
    }

    .container__button--play:after {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: 72px;
        color: $color_white;
        font-size: 20px;
        text-align: center;
        content: '영상보기';
    }

    &.cover {
        height: 682px;
        background: url('/assets/cover_banksalad.png') no-repeat center;
        background-size: cover;
    }

    &__link__inner {
        display: block;
        text-align: center;
        padding: 10px 50px;
        border: 1px solid $rain-new;
        border-radius: 3px;
    }

    &__feature {
        padding: 0 0 60px;

        .form-icon--data {
            width: 92px;
            height: 92px;
            margin-top: 15px;
            margin-bottom: 0;
        }

        .form-icon--tech {
            width: 92px;
            height: 92px;
            margin-top: 8px;
            margin-bottom: 0;
        }

        .form-icon--trust {
            width: 92px;
            height: 92px;
            margin-top: 17px;
            margin-bottom: 0;
        }

    }

    &__feature + .banksalad__service {
        padding: 80px 0 0;
        border-top: 1px solid rgba(11, 12, 12, 0.12);
    }

    &__service__img-wrap {
        position: relative;
    }
    &__service__img {
        width: 100%;
    }

    &__service .row + .row {
        margin-top: 80px;
    }
    &__service__title {
        display: inline-block;
        font-weight: 400;
        font-size: 20px;
    }
    &__service__subtitle {
        font-weight: bold;
        font-size: 16px;
        color: rgba(11, 12, 12, 0.34);
    }
    &__service__desc {
        padding-top: 14px;
        font-weight: 300;
        color: rgba(11, 12, 12, 0.56);
    }

    &__service .banksalad__link {
        display: block;
        margin-top: 30px;
        padding: 0;
    }

    &__service .banksalad__link--more .banksalad__link__inner {
        display: block;
        height: 100%;
        margin: 0 0 0 8px;
        background: $gray54;
        border-color: $gray54;
        color: $color_white;
    }

    &__service .banksalad__link__inner:after {
        @include triangle-right(8px, 10px, $rain-new);
        display: inline-block;
        margin-left: 10px;
        content: '';
    }
    &__service .banksalad__link--more .banksalad__link__inner:after {
        @include triangle-right(8px, 10px, $color_white);
    }
}

.#{$module}__desc-wrap {
    font-weight: 300;
    font-size: 20px;

    .subtitle {
        &:before {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            background: $rain-new;
            width: 72px;
            height: 1px;
            content: '';
        }

        position: relative;
        padding-top: 40px;
        font-size: 34px;
        text-align: left;
        color: $gray100;
    }

    .banksalad__desc {
        margin: 40px 0 0;
        max-width: 870px;

        @media #{$tablet} {
            br {
                display: none;
            }
        }

        @media #{$phone} {
            br {
                display: none;
            }
        }
    }

    .banksalad__link {
        display: inline-block;
        margin-top: 40px;
        padding: 0;
    }
}

@media only screen and (max-width:769px){
    .banksalad__wrap {
        padding: 30px 0 0;
        .title {
            margin-bottom: 40px;
        }
        .row {
            margin-left: 0;
            margin-right: 0;
        }
    }

    .banksalad__service .row {
        margin-top: 60px;
    }

    .banksalad__service__title {
        margin: 0;
    }

    .banksalad__feature + .banksalad__service {
        margin-top: 0;
        padding: 38px 0 0;
    }

    .banksalad__desc-wrap {
        padding-bottom: 80px;
    }
    .banksalad__wrap .banksalad__link {
        display: block;
        width: auto;
    }
    .banksalad__service__img-wrap {
        padding: 0;
    }
    .banksalad__service__desc-wrap {
        margin-top: 26px;
        padding: 0;
    }
    .banksalad__service + .banksalad__service {
        margin-top: 56px;
    }
}

@media only screen and (max-width:992px){
    .banksalad__service .banksalad__link--more .banksalad__link__inner {
        margin: 0;
    }
}
