$module: 'footer';

.#{$module} {
  margin-top: 48px;
  width: 100%;
  background-color: $gray54;

  & > .container {
    padding: 60px 15px 50px 15px;
  }

  &-brand {
    margin-bottom: 24px;
    width: 161px;
  }

  &-copyright {
    margin-bottom: 7px;
    color: rgba(255, 255, 255, 0.54);
    font-size: 14px;
  }

  &-address {
    color: rgba(255, 255, 255, 0.34);
    font-size: 12px;

    a {
      color: rgba(255, 255, 255, 0.34);
    }

    span {
      margin-right: 4px;
    }
  }

  &-service-list {
    padding: 0;

    @media #{$phone} {
      display: none;
    }

    & > li {
      padding: 7px 0;
      border-bottom: 2px solid rgba(255, 255, 255, 0.12);
    }

    & > li a {
      color: #E1E1E1;
      font-size: 16px;
      text-decoration: none;
    }

    & > li a:hover {
      color: $color_white;
    }
  }
}
