.navbar-default {
  border: none;

  .navbar-nav {
        & > li {
            & > a {
                padding-top: 24px;
                padding-bottom: 28px;
                color:rgba(11, 12, 12, 0.34);
            }
        }

    & > .active > a,
    & > .active > a:hover{
      color: #0091cc;
      font-weight: bold;
    }
  }

  .navbar-form {
    border: none;
  }

  .navbar-toggle {
    border: none;

    &:focus, &:hover {
      background-color: transparent;
    }

    .icon-bar {
      background-color: white;
    }
  }
}

.navbar {
    min-height: 72px;
    line-height: 72px;
    &__link--cbt {
        display: inline-block;
        width: 72px;
        height: 72px;
        background: url(../assets/ico_banksalad_small_2x.png) no-repeat;
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../assets/ico_banksalad_small_2x.png', sizingMethod='scale')";
        -webkit-background-size: cover;
        background-size: cover;
    }
}

.navbar-collapse {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-brand {
    height: 24px;
    padding: 24px 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #0091cc;
}

.navbar-brand > img {
  height: 21px;
}
.navbar-toggle {
    padding: 19px 10px;
}