.title {
  height: 36px;
  margin: 0 0 64px 0;
  line-height: 36px;
  font-size: 27px;
  color: #0087c5;
}

.title:before {
  display: block;
  float: left;
  width: 30px;
  height: 36px;
  margin-right: 12px;
  overflow: hidden;
  background: url(/assets/raindot_2x.png);
  background-size: 30px 36px;
  background-repeat: no-repeat;
  content: '';
}

.illust {
  width: 162px;
  height: 162px;
}

.row-illust {
  text-align: center;
}

/* About -- Philosophy
-------------------------------------------------- */

.philosophy {
  padding-top: 87px;
  padding-bottom: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../assets/bg.png');
  background-position: center center;
}

.philosophy-box {
  display: inline-block;
  margin-top: 36px;
  padding: 28px 24px;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.2);
}

.philosophy-title {
  display: inline-block;
  margin: 0;
  font-size: 18px;
}

.philosophy-desc {
  margin-top: 18px;
  font-size: 32px;
}

/* About -- Intro
-------------------------------------------------- */

.intro {
  padding-top: 96px;
}

.intro-desc {
  margin: 60px 12px 0 12px;
  font-size: 21px;
  color: #90a4ae;
}

.intro .row {
  margin-bottom: 48px;
}

/* About -- How
-------------------------------------------------- */

.how {
  margin-top: 60px;
  padding-top: 78px;
  background-color: #d5ebf7;
}

.how-desc {
  margin: 54px 0 96px 0;
  font-size: 24px;
  color: #37474f;
  text-align: center;
}

/* About -- BankSalad
-------------------------------------------------- */

.banksalad {
  padding-top: 92px;
  padding-bottom: 56px;
  background-color: #91c9eb;
}

.banksalad-desc {
  font-size: 26px;
  color: #37474f;
  margin-bottom: 36px;
}

.banksalad-desc a {
  color: #37474f;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2.5px solid white;
  -webkit-transition: color 0.33s, border-bottom 0.33s;
  transition: color 0.33s, border-bottom 0.33s;
}

.banksalad-desc a:hover,
.banksalad-desc a:focus {
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2.5px solid #40709f;
}

/* About -- Chef
-------------------------------------------------- */

.chef {
  padding-top: 96px;
}

.chef-desc {
  margin: 16px 12px 0 12px;
  font-size: 21px;
  color: #90a4ae;
}

.chef .row {
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .chef-desc, .intro-desc {
    margin-top: 42px;
  }
}

/* About -- Contact
-------------------------------------------------- */

.contact {
  padding-top: 48px;
}

.contact .row {
  padding: 0 32px;
}

.contact li {
  list-style-type: none;
}

#map {
  height: 320px;
  background-color: #ccc;
  margin-bottom: 24px;
}

.map-item {
  cursor: pointer;
  margin-bottom: 8px;
  padding: 16px;
  color: #90a4ae;
  border-radius: 6px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.active .map-item,
.map-item:hover {
  background-color: #edf7fe;
  background-color: rgba(236, 246, 253, 0.77);
}

.map-item h3 {
  font-size: 21px;
  font-weight: normal;
}
