.about section{
  padding-top: 60px;
  padding-bottom: 10px;
}

section.grey {
  border-top: 1px solid rgba(11, 12, 12, 0.12);
  background: #F5F5F5;
}

.title{
  height: 45px;
  color: $rain-new;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin: 0 0 45px 0;
}

.subtitle {
  color: rgba(11, 12, 12, 0.56);
  font-size: 34px;
  font-weight: 300;
}

.division {
  width: 100px;
  border-top: 2px solid #979797;
  margin-top: 70px;
  margin-bottom: 50px;
}

/* Form
-------------------------------------------------- */
.form {
  &-icon {
    margin-bottom: 48px;
  }

  &-title {
    color: rgba(11, 12, 12, 0.77);
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 19px;
  }

  &-desc {
    color: rgba(11, 12, 12, 0.34);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 34px;
  }

  &-tip {
    float: right;
    color: rgba(11, 12, 12, 0.56);
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 50px;
  }
}

/* About -- Cover
-------------------------------------------------- */

.cover {
  background: url('/assets/cover_intro.png') no-repeat center center;
  background-size: cover;

  .cover_icon {
    padding-top: 295px;
    padding-bottom: 230px;
  }

  .container {
    text-align: center;
  }
}

/* About -- Contact
-------------------------------------------------- */

.contact .row {
  padding: 0 32px;
}

.contact li {
  list-style-type: none;
}

#map {
  height: 320px;
  background-color: #ccc;
  margin-bottom: 24px;
}

.map-item {
  margin-bottom: 8px;
  padding: 16px;
  color: rgba(11, 12, 12, 0.56);
  border-radius: 6px;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;

  text-align: right;
}

.map-item h3 {
  color: rgba(11, 12, 12, 0.34);
  font-size: 21px;
  font-weight: normal;
}
