/* Presskit -- Cover
-------------------------------------------------- */

.presskit .cover {
  background: url('/assets/cover_presskit.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
