$module: 'recruit';

.#{$module} {
    b {color: $rain-500}
    a {text-decoration: underline}
    .tab__item__inner {text-decoration: none}
    &__top {
        padding-top: 87px;
        padding-bottom: 120px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../assets/bg_recruit.png');
        background-position: center center;
    }

    &__top__head {
        display: inline-block;
        margin-top: 36px;
        padding: 28px 24px;
        background-color: transparent;
        background-color: rgba(255, 255, 255, 0.2);
    }

    &__top__desc {
        margin: 0;
        font-size: 28px;
    }

    &__desc {
        b {color: inherit}
        ul li {
            &:before {
                display: none;
                content: '- '
            }
        }
        margin: 60px 0 70px;
        color: $gray54;
        .recruit__desc__paragraph {margin: 4px 0 0}
        .recruit__list {padding-left: 15px;margin: 0 0 18px}
        .recruit__list li {list-style: none}
    }

    &__tab {
        margin: 40px -15px 0;
    }

    &__header {
        margin: 70px 0 0;
        padding: 0 10px;
    }

    &__header h2 {
        font-size: 24px;
        line-height: 1.2em;
        text-align: center;
    }

    &__head {
        margin: 56px 0 -8px 0;
        font-size: 22px;
    }
}

.tab {
    &__list {
        position: relative;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    &__item {
        float: left;
        width: 25%;
    }

    &__item__inner {
        display: block;
        box-sizing: border-box;
        height: 50px;
        border-bottom: 1px solid $rain-500;
        font-size: 15px;
        line-height: 50px;
        transition: background 0.5s;
    }

    &__item__inner:hover,
    &__item__inner:focus {
        text-decoration: none;
    }

    &__item__inner.on {
        background: $rain-500;
        color: $color_white;
        font-weight: $bold;
    }

    &__item__inner.on + &__item__content {
        display: block;
    }

    &__item__content {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        text-align: left;
        ul li {
            list-style: none;
            &:before {
                content: '- '
            }
        }
        ul, p {
            margin-top: 28px;
        }
    }
}

@media only screen and (max-width: 600px){
    .tab__item__content ul, .tab__item__content p {
        padding: 0;
    }
    .tab__item {
        width: 50%;
    }
    .tab__item__content {
        margin-top: 50px;
    }
}

@media only screen and (min-width:568px){
    .#{$module} {
        &__tab {
            margin: 40px auto 0;
            max-width: 96.33%;
        }
    }
}

@media only screen and (min-width:768px){
    .#{$module} {
        &__tab {
            max-width: 82.33%;
        }

        &__header h2 {
            font-size: 30px;
        }
    }
}
