.navbar {
  background-color: $rain-500;
  background-color: rgba(0, 158, 222, 0.75);
}

.navbar-default {
  border: none;

  .navbar-nav {
    & > li {
      & > a {
        color: white;
        color: rgba(255, 255, 255, 0.7);
        -webkit-transition: color 0.3s cubic-bezier(0.2, 0.33, 0.44, 0.7);
        transition: color 0.3s cubic-bezier(0.2, 0.33, 0.44, 0.7);

        &:focus, &:hover {
          color: white;
        }

      }
    }

    & > .active > a {
      &, &:focus, &:hover {
        background-color: transparent;
        color: white;
      }
    }
  }

  .navbar-form {
    border: none;
  }

  .navbar-toggle {
    border: none;

    &:focus, &:hover {
      background-color: transparent;
    }

    .icon-bar {
      background-color: white;
    }
  }
}

.navbar-collapse {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-brand > img {
  height: 20px;
}
