$module: 'recruit';

.#{$module} {
    &__content {
        margin-top: 12px;
        font-size: 17px;
        line-height: 1.6;
    }

    &__paragraph {
        margin-top: 36px;
    }

    &__list {
        margin-top: 36px;

        li {
            list-style: disc;
        }
    }
}
