---
layout: default
title: 블로그
---

<div class="blog">
    <section class="cover">
        <div class="container">
            <span class="cover_comment">MAKE, SHARE, ITERATE</span>
        </div>
    </section>

    {% for post in paginator.posts %}
    <section class="article">
        <div class="container">
            {% if post.cover %}
                <h3 class="article_title cover">
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    <img src="{{ post.cover }}" />
                </h3>
            {% else %}
                <h3 class="article_title">
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h3>
            {% endif %}

            <div class="article_info">
                {% if post.tags.size > 0 %}
                    {% for tag in post.tags %}
                        <span class="article_tag">{{ tag | downcase }}</span>
                    {% endfor %}
                {% endif %}
                <time datetime="{{ post.date | date: "%F" }}" class="article_date">{{ post.date | date: "%B %-d, %Y" }}</time>
            </div>
            <div class="row">
                <div class="col-md-2 col-xs-12"></div>
                <div class="col-md-10 col-xs-12 article_cover">
                    <p class="article_content">
                        {{ post.content | markdownify | strip_html | truncatewords:100 }}
                    </p>
                </div>

                <div class="col-md-2 col-xs-12"></div>
                <div class="col-md-10 col-xs-12">
                    <div class="article_owner">
                        <img src="/assets/profile/{{ post.email }}_small.png" alt="{{ post.author }}" />
                        <span>{{ post.author }}</span>
                        <a href="mailto:{{ post.email }}">{{ post.email }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
    <nav class="article_pager">
        <div class="container">
            {% if paginator.previous_page %}
               <a href="{{ paginator.previous_page_path }}" class="acticle_direction prev">
                 « 이전
               </a>
            {% else %}
               <a class="acticle_direction prev disabled">« 이전</a>
            {% endif %}

            {% if paginator.next_page %}
               <a href="{{ paginator.previous_page_path }}" class="acticle_direction next">
                 다음 »
               </a>
            {% else %}
               <a class="acticle_direction next disabled">다음 »</a>
            {% endif %}
        </div>
    </nav>
</div>
