---
layout: default
---

<div class="blog-content">
    <section class="cover">
        {% if page.cover %}
            <img src="{{ page.cover }}" class="substance_cover" alt="{{ page.title }}">
        {% else %}
            <img src="/assets/img_default_blog_cover.png" class="substance_cover" alt="{{ page.title }}">
        {% endif %}
        <div class="container">
            <span class="cover_comment">{{ page.title }}</span>
        </div>
    </section>

    <section class="substance">
        <div class="container">
            <div class="substance_header">
                <div class="substance-50">
                    {% if page.tags.size > 0 %}
                        {% for tag in page.tags %}
                            <span class="article_tag">{{ tag | downcase }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="substance-50 substance_right">
                    <time datetime="{{ post.date | date: "%F" }}" class="article_date">{{ page.date | date: "%B %-d, %Y" }}</time>
                </div>
            </div>
            <hr class="division" />

            <div class="row container-sub substance_text">
                {{ content | markdownify }}
            </div>

            <div class="row container-sub">
                <div class="article_owner">
                    <img src="/assets/profile/{{ page.email }}_small.png" alt="{{ page.author }}" />
                    <span>{{ page.author }} | {{ page.position | downcase }}</span>
                    <a href="mailto:{{ page.email }}">{{ page.email }}</a>
                </div>
            </div>

            <div class="substance_footer">
                <div class="substance-50">
                    {% if page.tags.size > 0 %}
                        {% for tag in page.tags %}
                            <span class="article_tag">{{ tag | downcase }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="substance-50 substance_right">
                    <a href="https://twitter.com/share?url={{ page.url | prepend: site.url }}"
                        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                        target="_blank"><i class="fa fa-2x fa-twitter article_link"></i></a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}&t={{ page.title }}"
                        onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                        target="_blank"><i class="fa fa-2x fa-facebook-official article_link"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>
