$phone-sm: "(max-width: 444px)";
$phone: "(max-width: 768px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(max-width: 1024px)";

$font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Nanum Barun Gothic", "Malgun Gothic", "돋움", Dotum, sans-serif;
$font-family-en: "Noto", "Apple SD Gothic Neo", sans-serif;

$rain-300: #65caf8;
$rain-400: #34b4eb;
$rain-500: #009ede;
$rain-700: #0478a7;
$rain-800: #094a64;
$rain-new: #0091cc;

$primary-color: $rain-500;


// Color Set
// default
$color_white: #fff;
$color_black: #000;
$color_dim: rgba(0, 0, 0, 0.7);
$color_landing_top: #e1f3f3;


//salad
$salad-500: #36CC7C;
$salad-550: #a4dc4a;
$salad-600: #2fb36d;

//Amerlad
$Amerald-500: #16c89b;
$Amerald-550: #14c196;
$Amerald-600: #14b98f;
$Amerald-650: #14b38a;

//gray
$gray04: #f5f5f5;
$gray12: #e1e1e1;
$gray26: #c0c0c0;
$gray34: #acacac;
$gray54: #7b7b7b;
$gray77: #434444;
$gray87: #2b2b2b;
$gray100: #0b0c0c;

//font-weight
$bold: 600;
