$phone-sm: "(max-width: 420px)";
$phone: "(max-width: 768px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(max-width: 1024px)";

$font-family: "Apple SD Gothic Neo", "Nanum Barun Gothic", "Malgun Gothic", "돋움", Dotum, sans-serif;

$rain-300: #65caf8;
$rain-400: #34b4eb;
$rain-500: #009ede;
$rain-700: #0478a7;
$rain-800: #094a64;

$primary-color: $rain-500;
